colorbase=rgba(255,255,255,0.5);

body {
  text-align: center;
  background: #272822;
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1{
  color: rgba(255,255,255,1);
  text-align: left;
}
#anexos{
  background: colorbase;
  border-radius: 0.5em;
  box-shadow: rgba(255,0,0,0.7) 5px 5px 10px inset;
  /*display: inline-block;*/
  margin: 0.5em;
  padding: 1em 1em 0;
  transition: all 1s ease;
  /*vertical-align: top;*/
  width: 80%;
}
#encabezado{
  background: colorbase;
  border-radius: 0.5em;
  box-shadow: rgba(255,0,0,0.7) 5px 5px 10px inset;
  /*display: inline-block;*/
  margin: 0.5em;
  padding: 1em 1em 0;
  transition: all 1s ease;
  /*vertical-align: top;*/
  width: 80%;
}

#introduccion{
  background: colorbase;
  border-radius: 0.5em;
  box-shadow: rgba(255,0,0,0.7) 5px 5px 10px inset;
  display: inline-block;
  margin: 0.5em;
  padding: 1em 1em 0;
  transition: all 1s ease;
  /*vertical-align: top;*/
  width: 80%
}