body {
  text-align: center;
  background: #272822;
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
h1 {
  color: #fff;
  text-align: left;
}
#anexos {
  background: rgba(255,255,255,0.5);
  border-radius: 0.5em;
  box-shadow: rgba(255,0,0,0.7) 5px 5px 10px inset;
/*display: inline-block;*/
  margin: 0 0 6em 2%;
  padding: 1em 1em 0;
  transition: all 1s ease;
  vertical-align: top;
  width: 80%;
}
#encabezado {
  background: rgba(255,255,255,0.5);
  border-radius: 0.5em;
  box-shadow: rgba(255,0,0,0.7) 5px 5px 10px inset;
/*display: inline-block;*/
  margin: 0 0 6em 2%;
  padding: 1em 1em 0;
  transition: all 1s ease;
  vertical-align: top;
  width: 80%;
}
#introduccion {
  background: rgba(255,255,255,0.5);
  border-radius: 0.5em;
  box-shadow: rgba(255,0,0,0.7) 5px 5px 10px inset;
  display: inline-block;
  margin: 0 0 6em 2%;
  padding: 1em 1em 0;
  transition: all 1s ease;
  vertical-align: top;
  width: 80%;
}
